


.app-div {
    background-color: whitesmoke;
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
}
.search-div {
    background:#555;
    width: 100%;
    height: 40px;

}
.search-input {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

.search-button{
    background-color: #4CAF50;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 20px;
}
.search {
    text-align: center;
    margin-right: 5px;
    width: 150px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.bike-shop-name {
    color: limegreen;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    font-family: "Great Vibes", cursive;
    text-shadow: 0 1px 1px black;
}
.cell {
    color: black;
    padding-bottom: 200px;
    /*padding-right: 200px;*/
}
.bike-table {
    position: relative;;
    margin: 0 10%;
}
.bike-name-div {
    vertical-align:bottom;
    text-align:center;
    width: 250px;
    font-weight: bolder;
}
.bike-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.color-div {
    margin-top: 10px;
}

.top-five-div {
    position: relative;
    width: 100%;
    height: auto
}

.price-div {
    vertical-align:bottom;
    text-align:right;
}

.top-five-description {
    float: left;
}

.h1-text{
    color: black;
    font-family: 'Droid serif',
    serif; font-size: 36px;
    font-weight: 400;
    font-style: italic;
    line-height: 44px;
    margin: 0 0 12px;
    text-align: center;
}