.app-div {
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
}
.search-div {
    background:#555;
    width: 100%;
    height: 40px;

}
.search-input {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

.search-button{
    background-color: #4CAF50;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 20px;
}
.search {
    text-align: center;
    margin-right: 5px;
    width: 150px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.bike-shop-name {
    color: limegreen;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    font-family: "Great Vibes", cursive;
    text-shadow: 0 1px 1px black;
}

.bike-table {
    position: relative;
    width: 100%;
}
.bike-name-div {
    vertical-align:bottom;
    text-align:center;
    /*width: 250px;*/
    font-weight: bolder;
}
.bike-picture {
    position: relative;
    display: block;
    margin: 0 0 0 0;
    width: 100%;
    border: 1px solid #777;
}
.color-div {
    margin-top: 10px;
}

.top-five-div {
    position: relative;
    width: 100%;
    /*height: auto*/
}

.price-div {
    vertical-align:bottom;
    text-align:center;
}

.top-five-description {
    float: left;
}

.top-five-info {
    /*float: left;*/
    background-color:rgba(0, 0, 0, 0.6);
    top:0;
    transition-duration:0.4s;
    padding:10px 0;
    position: absolute;
    text-align:center;
    color:#fff;
    font-size:12px;
    font-weight:bold;
    line-height:16px;
    margin:0;
    display:block;
    width:100%;
    opacity: 0;
    /*visibility: unset;*/
    border: 1px solid #777;
}

.bike-photo{
    position: relative;
}

.bike-photo:hover .top-five-info {
    opacity: 1;
}

.h1-text{
    color: black;
    font-family: 'Droid serif',
    serif; font-size: 36px;
    font-weight: 400;
    font-style: italic;
    line-height: 44px;
    margin: 0 auto 10px;
    text-align: center;
    width: 20%;
}

.bike-cell {
    float: left;
    width: max-content;
    /*max-width: 18%;*/
    min-width: 17%;
    /*height: 60%;*/
    /*padding-right: 20px;*/
    margin-left: 2.5%;
    margin-bottom: 2%;
}

.h1-text:hover {
    cursor: pointer;
    color: slategrey;
}

.test {
    width: 100%;
}


